<div class="username"><%= current_user.screen_name %></div>
<div class="profile_pic"><%=  %></div>
<div class="starred_repos"><%=  %></div>
<div class="followers"><%= @followers %></div>
<div class="following"><%=  %></div>
