<div class="username"><h1><%= current_user.screen_name %></h1></div>
<div class="profile_pic"><%=  %></div>
<table>
  <tr class="starred_repos">
    <td>Starred Repos: </td><td><%=  %></td>
  </tr>
  <tr class="followers">
    <td>Followers: </td><td><%= @user.followers.count %></td>
  </tr>
  <tr class="following">
    <td>Following: </td><td><%=  %></td>
  </tr>
</table>
